<a href="https://colab.research.google.com/github/Meghashyamt/Telecom-Project/blob/master/Telecom_RandomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import libraries
import numpy as np
import pandas as pd

#matplot
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [0]:
#Importing the data
data=pd.read_csv("telecom_churn_data1.csv")

In [23]:
data.head(2)

  State  Account Length  ...  Custserve calls  Churn
0    KS             128  ...                 1     0
1    OH             107  ...                 1     0

[2 rows x 21 columns]

In [0]:
#Adding new column and changing to binary
data['Churn-Flag']=(data['Churn']== True).astype(int)

In [25]:
#checking information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 22 columns):
State                   4617 non-null object
Account Length          4617 non-null int64
Area code               4617 non-null int64
Phone                   4617 non-null object
International Plan      4617 non-null object
Vmail plan              4617 non-null object
Vmail Message           4617 non-null int64
Day mins                4617 non-null float64
Day calls               4617 non-null int64
Day charge              4617 non-null float64
Eve mins                4617 non-null float64
Eve calls               4617 non-null int64
Eve charge              4617 non-null float64
Night mins              4617 non-null float64
Night calls             4617 non-null int64
Night charge            4617 non-null float64
International mins      4617 non-null float64
International calls     4617 non-null int64
International charge    4617 non-null float64
Custserve calls         4617 non-null int64
Churn                   4617 non-null int64
Churn-Flag              4617 non-null int64
dtypes: float64(8), int64(10), object(4)
memory usage: 793.6+ KB

In [0]:
X=data.iloc[:,6:19]
y=data.iloc[:,20]

In [0]:
#train and test 
X_train,X_test, y_train,y_test=train_test_split(X,y, test_size=0.3 ,random_state=100)

In [0]:
#RF Model
model = RandomForestClassifier()

In [29]:
#Fitting the model
m=model.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [0]:
#Predicting the model
predict=model.predict(X_test)

In [31]:
accuracy_score(y_test, predict)

0.9018759018759018

In [32]:
confusion_matrix(y_test, predict)

array([[1195,   10],
       [ 126,   55]])

In [33]:
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           0       0.90      0.99      0.95      1205
           1       0.85      0.30      0.45       181

    accuracy                           0.90      1386
   macro avg       0.88      0.65      0.70      1386
weighted avg       0.90      0.90      0.88      1386

In [0]:
#plt.plot(m.history['y_test'])