<a href="https://colab.research.google.com/github/Meghashyamt/Telecom-Project/blob/master/Telecom_Logistic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
!git clone https://github.com/Meghashyamt/Telecom-Project.git

fatal: destination path 'Telecom-Project' already exists and is not an empty directory.

In [0]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

#import metrics
from sklearn.metrics import r2_score, accuracy_score, confusion_matrix, classification_report
from sklearn import metrics
from scipy import stats

#import data visuvalize
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

In [0]:
data =pd.read_csv("telecom_churn_data1.csv")

In [85]:
data.head(2)

  State  Account Length  ...  Custserve calls  Churn
0    KS             128  ...                 1     0
1    OH             107  ...                 1     0

[2 rows x 21 columns]

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 21 columns):
State                   4617 non-null object
Account Length          4617 non-null int64
Area code               4617 non-null int64
Phone                   4617 non-null object
International Plan      4617 non-null object
Vmail plan              4617 non-null object
Vmail Message           4617 non-null int64
Day mins                4617 non-null float64
Day calls               4617 non-null int64
Day charge              4617 non-null float64
Eve mins                4617 non-null float64
Eve calls               4617 non-null int64
Eve charge              4617 non-null float64
Night mins              4617 non-null float64
Night calls             4617 non-null int64
Night charge            4617 non-null float64
International mins      4617 non-null float64
International calls     4617 non-null int64
International charge    4617 non-null float64
Custserve calls         4617 non-null int64
Churn                   4617 non-null int64
dtypes: float64(8), int64(9), object(4)
memory usage: 757.6+ KB

In [87]:
#Adding new column and changing to binary
data['ChurnFlag']=(data['Churn']== 'TRUE').astype(int)

/usr/local/lib/python3.6/dist-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [88]:
data.head(20)

   State  Account Length  Area code  ... Custserve calls  Churn ChurnFlag
0     KS             128        415  ...                1     0         0
1     OH             107        415  ...                1     0         0
2     NJ             137        415  ...                0     0         0
3     OH              84        408  ...                2     0         0
4     OK              75        415  ...                3     0         0
5     AL             118        510  ...                0     0         0
6     MA             121        510  ...                3     0         0
7     MO             147        415  ...                0     0         0
8     LA             117        408  ...                1     0         0
9     WV             141        415  ...                0     0         0
10    IN              65        415  ...                4     1         0
11    RI              74        415  ...                0     0         0
12    IA             168        408  ...                1     0         0
13    MT              95        510  ...                3     0         0
14    IA              62        415  ...                4     0         0
15    NY             161        415  ...                4     1         0
16    ID              85        408  ...                1     0         0
17    VT              93        510  ...                3     0         0
18    VA              76        510  ...                1     0         0
19    TX              73        415  ...                1     0         0

[20 rows x 22 columns]

In [0]:
#slicing X and y
X=data.iloc[:,6:19]
y=data.iloc[:,20]

In [0]:
#training and test
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.3, random_state=100)

In [0]:
#Logistic Model
model = LogisticRegression()

In [0]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()

In [0]:
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [110]:
#Fitting the model
model.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
# Predicting the model
predict = model.predict(X_test)

In [112]:
accuracy_score(y_test, predict)

0.8759018759018758

In [113]:
confusion_matrix(y_test, predict)

array([[1205,    0],
       [ 172,    9]])

In [114]:
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           0       0.88      1.00      0.93      1205
           1       1.00      0.05      0.09       181

    accuracy                           0.88      1386
   macro avg       0.94      0.52      0.51      1386
weighted avg       0.89      0.88      0.82      1386