<a href="https://colab.research.google.com/github/Meghashyamt/Telecom-Project/blob/master/Telecom_AllAlgorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
#Cloning Project From M Github
!git clone https://github.com/Meghashyamt/Telecom-Project

fatal: destination path 'Telecom-Project' already exists and is not an empty directory.

In [0]:
#import libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import scale, LabelEncoder

In [110]:
#Import Data
data = pd.read_csv("Telecom-Project/telecom_churn_data.csv")
data.head(2)

  State  Account Length  ...  Custserve calls  Churn
0    KS             128  ...                 1     0
1    OH             107  ...                 1     0

[2 rows x 21 columns]

In [0]:
#Drop Phone Column
data.drop("Phone", axis=1, inplace=True)

In [112]:
#Information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 20 columns):
State                   4617 non-null object
Account Length          4617 non-null int64
Area code               4617 non-null int64
International Plan      4617 non-null object
Vmail plan              4617 non-null object
Vmail Message           4617 non-null int64
Day mins                4617 non-null float64
Day calls               4617 non-null int64
Day charge              4617 non-null float64
Eve mins                4617 non-null float64
Eve calls               4617 non-null int64
Eve charge              4617 non-null float64
Night mins              4617 non-null float64
Night calls             4617 non-null int64
Night charge            4617 non-null float64
International mins      4617 non-null float64
International calls     4617 non-null int64
International charge    4617 non-null float64
Custserve calls         4617 non-null int64
Churn                   4617 non-null int64
dtypes: float64(8), int64(9), object(3)
memory usage: 721.5+ KB

In [0]:
#Adding new Column
data['ChurnFlag']=(data['Churn']==True).astype(int)

In [0]:
#Slicing the data
X= data.iloc[:,1:19]
y= data.iloc[:,20]

In [0]:
X=pd.get_dummies(X,drop_first=True)

In [116]:
X.head(2)

   Account Length  Area code  ...  International Plan_ yes  Vmail plan_ yes
0             128        415  ...                        0                1
1             107        415  ...                        0                1

[2 rows x 18 columns]

In [0]:
# Use Dictornary for All Algorithms in one Line
classifiers={'Logistic Regression' : LogisticRegression(),
            'Decision Tree'        : DecisionTreeClassifier(),
            'Random Forest'        : RandomForestClassifier(),
            'Support Vector '      : SVC(),
            'XGBoost'              : XGBClassifier()}

In [0]:
#X= data.iloc[:,1:19].values
#y= data.iloc[:,20].values

In [0]:
#Train and test
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.3, random_state=10)

In [0]:
# import warnings filter
from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

In [129]:
#For looping for All Model in one Line
print("Model\t\t\t\t\t\tAccuracy\n")
for name,model in classifiers.items():
    model=model
    model.fit(X_train,y_train)
    score=model.score(X_test,y_test)
    print("{} :\t\t\t {}".format(name,score))

Model						Accuracy

Logistic Regression :			 0.8585858585858586
Decision Tree :			 0.9163059163059163
Random Forest :			 0.9502164502164502
Support Vector  :			 0.8658008658008658
XGBoost :			 0.9552669552669553

In [0]:
from sklearn.model_selection import GridSearchCV

In [0]:
#Grid Search  to find the value from kernel , c , gamma
#parameters=[{'kernel':['linear'], 'C':[1,10,100,1000,10000]},
#           {'kernel':['rbf'],'gamma':[0.5, 0.1, 0.05,0.07,0.08], 'C':[1,10,100,1000,10000]}]

In [0]:
#grid_model_svc= GridSearchCV(SVC(), parameters)
#grid_model_svc.fit(X_train, y_train)
#grid_model_svc.best_score_

In [0]:
#grid_model_svc.best_params_